
@font-face {
    font-family: 'Ikaros';
    src: url('./img/ikaros-Light.otf');
}

@font-face {
    /* font-family: 'QuestFont';
    src: url('./img/Quest.ttf');
    Overpass */
    font-family: 'Exo';
    src: url('https://fonts.googleapis.com/css?family=Exo&display=swap');
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #4715a8 !important;
    background: linear-gradient(135deg, rgba(71,21,168,1) 5%, rgba(105,59,196,1) 28%, #6a62fe 53%, #2bafe4 78%, rgba(0,212,255,1) 100%) !important;
    /* font-family: 'Exo', 'QuestFont', 'Lato', 'Arial' !important; */
}

#siteHeader {
    text-align: center;
    font-size: 2.2em;
    color: #e8f9ff;
    font-family: 'Ikaros', sans-serif !important;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    padding-left: 2%;
    float:left;
}

#title {
    margin-left: 2%;
    margin-top: 14px;
    float: left;
}

nav {
    width: 100%;
    height: 5%;
    background-color: #0e0b49;
    padding-top: 5px;
    -webkit-box-shadow: 0px -3px 22px 9px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px -3px 22px 9px rgba(0,0,0,0.41);
    box-shadow: 0px -3px 22px 9px #00000069;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 2;
    background: #2bafe4 !important;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #ffffff;
    color: black;
}

.questForm {
    border: 2px solid black;
    overflow: hidden;
    height: auto;
    width: auto;
    float: left;
    margin-top:0px;
    padding-top:30px;
    background-color: #d39e4f;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.questForm label {
    width: 75px;
    margin-left: 20px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.questForm textarea {
    margin-left: 30px;
    width: 400px;
}

.questForm div {
    margin: 5px 20px;
}

.makequestSubmit {
    color: black;
    text-decoration: none;
    background-color: #f1d09d;
    border: 1px solid black;
    transition: background-color 0.4s ease;
    text-align: center;
    margin: 0 auto;
    font-family: 'QuestFont';
    float: right;
    margin-top: 14px;
    margin-bottom: 20px;
    margin-right: 5%;
    font-size: 1em;
    width: 100px;
    padding: 3px 0px;
    text-decoration: none;
}

.makequestSubmit:link, .makequestSubmit:visited, .makequestSubmit:hover, .makequestSubmit:active {
    color: black;
}

.makequestSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: white;
}

.mainForm {
    height: auto;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}
#username {
    max-height: 50px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    color: black;
    text-decoration: none;
    background-color: #f1d09d;
    border: 1px solid black;
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    font-family: 'QuestFont';
    width: 100px;
    padding: 3px 0px;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: black;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(255, 233, 208);
}

#questMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#questMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#quests {
    width: 40%;
    min-width: 400px;
    border: 2px solid #000000;
    margin: 0 auto;
    margin-top: 250px;
}

.ant-input {
    padding-left: 0px !important;
    min-height: unset !important;
    border-color: #ffffff !important;
    border-radius: 0 !important;
    border-width: 2px !important;
    border-image: linear-gradient(90deg, #020024 0%, #310980 12%, #00d4ff 100%) 0 0 100% 0 !important;  
}

.ant-button {
    border-radius: 0 !important;
}


#loginForm .ant-button {
    margin-top: 300px !important;
    -webkit-transition: all 0.5s ease !important; /* Safari prior 6.1 */
    transition: all 0.5s ease !important;
}

.quest {
    width: 100%;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 20px 50px;
    max-height: 400px;
    overflow: hidden;
}

.quest:hover {
    transition: border-color 0.2s ease-out;
    border-color: #1890ff;
    transition: background-color .2s ease-out;
    background-color: #ecf6ff;
}

.quest button {
    margin: 0 10px;
    float: right;
    min-width: 70px;
    border-radius: 0px !important;
}
/* .quest .editDiv {
    margin-bottom: 5px;
    display: inline-block;
} */

h3.emptyquest {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.questName {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 1.5em;
}

h3.questObjective {
    text-align: left;
    margin-top: -8px;
    margin-left: 5px;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}

h3.questDescription {
    text-align: left;
    width: 100%;
    margin-top: 12px;
    margin-left: 24px;
    font-size: 1.2em;
}

.quest:first-child {
    margin-top: 10px;
}

.quest:last-child {
    margin-bottom:10px;
}